@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-purple:#5636D3;
    --color-white: white;
    --color-green: #12A454;
    --color-red: #E83F5B;
    --color-orange: #FF872C;
}