.section{
    display: flex;
    flex-direction: column;
    justify-content: center;

    table{
        background-color: var(--color-white);
    }
    
    .sectionTable{
        width: 70%;
        margin: 0 auto;

        text-align: left;
        
        .tableTr{
            
            .tableTh{
                padding: 0.5rem;
                
                font-size: 13px;
                font-weight: 400;
                
                align-items: center;
                
            }
            
            .tableTd{
                padding: 0.5rem;
                
                font-size: 15px;
                border-bottom: 2px solid var(--color-gray);
                
            }
        }
    }
}