.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .sectionTable{
        width: 70%;
        
        margin: 0 auto;
        text-align: left;
        border-spacing: 0 0.2rem;
        
        color: var(--color-darkgray);
        background-color: var(--color-gray);
        
        .tableTr{
            
            .tableTh{
                padding: 0.5rem;
                
                font-size: 13px;
                font-weight: 500;
                
                align-items: center;        
            }
            
            .tableTd, .colorEntrada, .colorSaida, .colorGray{
                padding: 0.5rem;
                
                font-size: 15px;
                
                background-color: var(--color-white);
                
            }

            .colorEntrada{
                color: var(--color-green);
            }

            .colorSaida{
                color: var(--color-red);
            }
            .colorGray{
                color: var(--color-darkgray);
            }
        }
    }
}

