.sectionHome{
    
    .Cabecalho{
        height: 7rem;
    
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;

        background-color: var(--color-purple);

        .divGofinances{
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: 16px;
            margin-top: 3rem;
            
            color: var(--color-white);
            
            .span1{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .iconMoedas{
                    margin-right: 0.5rem;
 
                    color: var(--color-orange);
                }
            }
 
            .buttonImportar{               
                padding: 0.2rem;
                
                font-weight: 600;
                font-size: 18px;
                
                border: none;
                border-radius: 5px;

                color: var(--color-darkpurple);
                background-color: var(--color-white);
            }
        }
        
        .sectionDivOneCards{
            width: 50%;
            
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .cards{
                height: 5rem;

                margin-top: 2rem;
                padding: 1rem 5%;
                border-radius: 5px;
                
                background-color: var(--color-white);
                
                .cardsL1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    font-size: 13px;
                    
                    .iconEntrada{
                        width: 9%;

                        padding: 0rem 3%;
                        border-radius: 16px;
                        border: 1px var(--color-green) solid;
                        
                        color: var(--color-green);
                    }
                    
                    .iconSaida{
                        width: 9%;

                        padding: 0rem 3%;
                        border-radius: 16px;
                        border: 1px var(--color-red) solid;
                        
                        color: var(--color-red);
                    }
                }
                
                .cardsL2{
                    width: 100%;
                    margin: 0 auto;

                    line-height: 54px;
                    font-weight: 400;
                    font-size: 32px;
                    
                }
            }

            .cardOrange{
                width: 20%;
                height: 5rem;

                margin-top: 2rem;
                padding: 1rem 5%;
                border-radius: 5px;
                
                color: var(--color-white);
                background-color: var(--color-orange);
                
                .money{
                    width: 20%;
                }
                
                .cardsL1{
                    font-size: 13px;
                
                    display: flex;
                    justify-content: space-between;    
                    
                    .iconEntrada{
                        width: 15%;
                        
                        color: var(--color-green);
                    }

                    .iconSaida{
                        width: 15%;
                        
                        color: var(--color-red);
                    }
                }
                
                .cardsL2{
                    width: 100%;
                    
                    font-size: 30px;
                }
            }
        }
    }
    
    .sectionDivTwo{
        margin-top: 5rem;
    }
}
