.sectionHome{

        .divGofinances{
            display: flex;
            justify-content: space-between;
            
            font-size: 14px;
            
            color: var(--color-white);
            
            .span1{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .iconMoedas{
                    color: var(--color-orange);
                }
            }
            .buttonImportar{
                
                border: none;
                padding: 0.2rem;
                border-radius: 5px;

                font-weight: 600;
                font-size: 18px;

                color: var(--color-darkpurple);
                background-color: var(--color-white);
            }
            
        }
        
        .sectionDivOneCards{
            margin: 0 auto;
            width: 50%;
            
            display: flex;
            justify-content: space-between;

            .cards{
                padding: 0.5rem 5%;
                border-radius: 5px;
                
                background-color: var(--color-white);
                
                .cardsL1{
                    display: flex;
                    justify-content: space-between;
                    
                    font-size: 13px;
                    
                    .iconEntrada{
                        width: 15%;
                        
                        color: var(--color-green);
                    }
                    .iconSaida{
                        width: 15%;
                        
                        color: var(--color-red);
                    }
                }
                
                .cardsL2{
                    font-size: 16px;
                    
                }
            }
            .cardOrange{
                padding: 0.5rem 5%;
                
                border-radius: 5px;

                color: var(--color-white);
                background-color: var(--color-orange);
                
                .money{
                    width: 15%;
                }
                .cardsL1{
                    display: flex;
                    justify-content: space-between;
                    
                    font-size: 13px;
                    
                    .iconEntrada{
                        width: 15%;
                        
                        color: var(--color-green);
                    }
                    .iconSaida{
                        width: 15%;
                        
                        color: var(--color-red);
                    }
                }
                
                .cardsL2{
                    font-size: 16px;
                    
                }
            }
        }
        
    
    .sectionDivTwo{
        margin-top: 5rem;
    }
}
