.section{
    width: 100%;
    height: 100vh;

    .sectionCabecalho{
        height: 2rem;
        
        display: flex;
        padding: 1rem;

        align-items: center;
        justify-content: space-between;        
        
        color: var(--color-white);
        background-color: var(--color-purple);
    
        .GoFinances{
            width: 80%;
            margin: 0 auto;

            display: flex;
            align-items: center;    
            justify-content: space-between;

            .spanDireita{
                display: flex;
                align-items: center;    

                img{
                    margin-right: 0.5rem;
                }
            }
            
            .spanEsquerda{
                width: 15%;
    
                .spanImportar, .spanListagem{
                    cursor: pointer;
    
                    padding: 0.2rem;
                    font-size: 13px;
                    font-weight: 400;
                    
                    color: var(--color-white);
                }
                .spanImportar{
                    margin-left: 1rem;
                           
                    border-bottom: solid 1px var(--color-orange);
                }
            }
        }

    }

    .titulo{
        text-align: center;
        
        font-size: 25px;
        margin: 2.5rem 0%;
        letter-spacing: 1px;
    
        color: var(--color-black);
    }
    
    .divCard{
        width: 40%;
        
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;
        padding: 5% 5rem;
        border-radius: 5px;      
    
        text-align: center;
        align-items: center;
        
        background-color: var(--color-white);
        
        .divArquivo{
            width: 100%;
            height: 6rem;

            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            
            font-size: 16px;

            border-radius: 5px;
            border: 3px dashed var(--color-darkgray);

            color: var(--color-darkpurple);
        }

        .ArquivoAdicionado{
            margin: 1rem;
            
            display: flex;
            justify-content: center;
            
            color: var(--color-green);
    
            span{
                margin-left: 0.5rem;
                
                font-weight: 600;
                
                color: var(--color-black);
            }
        }

        .divButtons{
            width: 100%;

            display: flex;
            justify-content: space-between;
            
            margin-top: 3rem;
            
            .divAlert{   
                width: 80%;

                display: flex;
                align-items: center;
                
                h6{
                    font-size: 12px;

                    color: var(--color-darkgray);
                }
    
                .iconProblem{
                    width: 10%;

                    color: var(--color-orange);
                }
            }

            .buttonEnviar{
                width: 30%;

                border: none;
                padding: 0.8rem 0%;
                border-radius: 5px;

                font-size: 15px;
                font-weight: 500;
                
                color: var(--color-white);
                background-color: var(--color-orange);
            }
            .buttonEnviar:hover{
                opacity: 0.9;
            }
        }
    }
}